.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 30px;
	height: 64px;
}

.header__logo {
	img {
		display: block;
	}
}

.header__search {
}

.header__searchInputContainer {
	border: 1px solid $grey;
	border-radius: 5px;
	width: 300px;

	input {
		background-color: transparent;
		border: none;
		width: 100%;
		color: $white;
		padding: 10px 15px;

		&:focus {
			outline: none;
		}
	}
}

.header__menuItems {
	a {
		color: $white;
		text-decoration: none;
		margin: 0 14px;
		font-weight: bold;
		padding-bottom: 6px;

		&:hover {
			border-bottom: 3px solid $green;
			color: $green;
		}
	}
}
